@model MobileDevice.Models.Account

@{
    ViewBag.Title = "ChangeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ImagePath = "~/wwwroot/Image/" + Model.Avatar;
}
<br />
<div class="container">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cập nhật thông tin</a>
            </li>
            <li role="presentation">
                <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Đổi mật khẩu</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                @using (Html.BeginForm("ChangeInfo", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_Account)
                    <br><br>
                    <table class="table">

                        <tbody>
                            <tr>
                                <th style="vertical-align: inherit">@Html.LabelFor(model => model.UserName, "Tên đăng nhập", htmlAttributes: new { @class = "control-label col-md-5" })</th>
                                <td>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit"> @Html.LabelFor(model => model.FullName, "Họ và tên", htmlAttributes: new { @class = "control-label col-md-5" })</th>
                                <td>
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit">@Html.LabelFor(model => model.Phone, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-5" })</th>
                                <td>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit">@Html.LabelFor(model => model.Address, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-5" })</th>
                                <td>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit">@Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-5" })</th>
                                <td>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit">@Html.LabelFor(model => model.Avatar, "Ảnh đại diện", htmlAttributes: new { @class = "control-label col-md-5" })</th>
                                <td>
                                    <img id="output" class="img-rounded" alt="Ảnh" width="180" height="200" src="@Url.Content(@ImagePath)" />
                                    <p><label for="ufile" style="cursor: pointer">Chọn file ảnh</label></p>
                                    <input name="Image" id="ufile" type="file" style="display: none" onchange="loadFile(event)" />
                                    @Html.HiddenFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="form-group">
                        @*<input type="submit" value="Lưu" class="btn btn-default form-control btn btn-primary submit px-3" />*@
                        <button type="submit" class="form-control btn btn-primary submit px-3">Cập nhật</button>
                    </div>
                    <br /><br />
                    <br /><br />
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="tab">
                <br /><br />
                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <table class="table">

                        <tbody>
                            <tr>
                                <th style="vertical-align: inherit">Mật khẩu hiện tại</th>
                                <td>
                                    <input type="password" name="OldPassword" id="OldPassword" class="form-control" placeholder="Mật khẩu hiện tại" required>
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit">Mật khẩu mới</th>
                                <td>
                                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="Mật khẩu mới" required>
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: inherit">Xác nhận mật khẩu</th>
                                <td>
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Cập nhật</button>
                    </div>
                    <br><br>
                }
            </div>
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>