@model MobileDevice.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Lấy lại mật khẩu</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/Home/Index/">Trang chủ</a></li>
                    <li class="active">Lấy lại mật khẩu</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- Đăng nhập -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center">
                        <div class="text w-100">
                            <h2>Bạn hãy tạo mật khẩu mới</h2>
                            <p>Hãy đảm bảo rằng bạn xác nhận đúng mật khẩu!</p>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5 order-md-last">
                        <div class="d-flex">
                            <div class="w-100">
                                <h1 class="mb-4">Nhập mật khẩu mới</h1>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                       class="social-icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                    <a href="#"
                                       class="social-icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                            <form action="/Login/ResetPassword/" class="signin-form" method="post">
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Nhập mật khẩu mới</label>
                                    <input type="password" class="form-control" placeholder="Mật khẩu"
                                           id="forgot_matkhau" name="ForgotPassword">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Xác nhận lại mật khẩu</label>
                                    <input type="password" class="form-control" placeholder="Mật khẩu"
                                           id="confirm_matkhau" name="ConfirmPassword">
                                </div>
                                <div class="form-group">
                                    @Html.HiddenFor(a => a.ResetCode)
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3" onclick="checkrong_forgotpass()">
                                        Lấy lại mật khẩu
                                    </button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">

                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="/Login/Login">Quay lại</a>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Đăng nhập-->
<input type="hidden" id="Error" value="@ViewBag.ResetError" />
<input type="hidden" id="Success" value="@ViewBag.ResetOk" />
<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.close-btn-alert').click(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
        });
    });
    var error = document.getElementById("Error").value;
    if (error != "") {
        showAlertMessage(error, false);
    }
    var success = document.getElementById("Success").value;
    if (success != "") {
        showAlertMessage(success, true);
    }
    function showAlertMessage(message, messageState) {
        if (messageState) {
            $('#alert_message').css({ "background": "#C5F3D7", "border-left": "8px solid #2BD971" });
            $("#icon-alert-message").html('<i class="fas fa-check-circle"></i>');
            $("#icon-alert-message").find('i').css({ "color": "#2BD971" });
            $(".msg").css({ "color": "#24AD5F" });
            $(".close-btn-alert").css({ "background": "#2BD971", "color": "#24AD5F" });
            $(".close-btn-alert").find('.fas').css({ "color": "#24AD5F" });
            $(".close-btn-alert").hover(function (e) {
                $(this).css("background-color", e.type === "mouseenter" ? "#38F5A3" : "#2BD971")
            })
        } else {
            $('#alert_message').css({ "background": "#FFE1E3", "border-left": "8px solid #FF4456" });
            $("#icon-alert-message").html('<i class="fas fa-exclamation-circle"></i>');
            $("#icon-alert-message").find('i').css({ "color": "#FE4950" });
            $(".msg").css({ "color": "#F694A9" });
            $(".close-btn-alert").css({ "background": "#FF9CA4", "color": "#FD4653" });
            $(".close-btn-alert").find('.fas').css({ "color": "#FD4653" });
            $(".close-btn-alert").hover(function (e) {
                $(this).css("background-color", e.type === "mouseenter" ? "#FFBDC2" : "#FF9CA4")
            })
        }
        $('.msg').text(message);
        $('.alert').addClass("show");
        $('.alert').removeClass("hide");
        $('.alert').addClass("showAlert");
        setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
        }, 3000);
    };
</script>