@model MobileDevice.Models.Bill

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Bill)

        <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <span class="text-uppercase page-subtitle">Cập nhật</span>
                    <h3 class="page-title">Đơn hàng</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-small mb-4">
                        <div class="card-body p-0 pb-3 text-center">
                            <table class="table mb-0">
                                <tbody>
                                    <tr hidden>
                                        <td style="vertical-align: inherit">
                                            ID người nhận
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ID_Account, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ID_Account, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Tên người nhận
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Địa chỉ
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ReceiverAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReceiverAddress, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Email
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ReceiverEmail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReceiverEmail, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Số điện thoại
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ReceiverPhone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ReceiverPhone, "", new { @class = "text-danger" })
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Ghi chú thêm
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Thanh toán
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.PayType, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PayType, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Trạng thái
                                        </td>
                                        <td style="vertical-align: inherit">
                                            <div class="d-flex align-items-center">
                                                <label class="custom-control ios-switch">
                                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "ios-switch-control-input" } })
                                                    <span class="ios-switch-control-indicator"></span>
                                                </label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Ngày đặt hàng
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: inherit">
                                            Ngày xác nhận
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left: 12px;">
                <input type="submit" value="Cập nhật" class="mb-2 btn btn-success mr-2" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Admin/AdminBill/Index" class="mb-2 btn btn-info mr-2" role="button"
       aria-pressed="true" style=" position: relative; left: 123px; top: -57px;">Quay lại</a>
</div>
